/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

:root {
	--ifm-color-primary: #3EBBD3;

	--ifm-color-primary-dark: #212121;
	--ifm-color-primary-darker: #424242;
	--ifm-color-primary-darkest: #757575;

	--ifm-color-primary-light: #5ECFE2;
	--ifm-color-primary-lighter: #88DDEB;
	--ifm-color-primary-lightest: #B6EBF3;

	--error: #ef6a6e;
	--surface-light: #ffffff;
	--surface-dark: #f5f5f5;
	--primary-dark: #000000;
	--primary-main: #212121;
	--primary-light: #757575;
	--secondary-light: #5ecfe2;
	--secondary-dark: #39abc0;
	--secondary-main: #3ebbd3;
	--elevation-shadow-00-dp: #fafafa;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

body {
font-family: 'PT Sans', sans-serif;
}
 
h1{
	font-family: 'PT Sans', sans-serif;
	/*font-size: 101.4px;*/
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -1.5px;
  }

h2{
	font-family: 'PT Sans', sans-serif;
	/*font-size: 63.4px;*/
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.5px;
  }

  h3{
	font-family: 'PT Sans', sans-serif;
	/*font-size: 50.7px;*/
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
  }

  h4{
	font-family: 'PT Sans', sans-serif;
	/*font-size: 35.9px;*/
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.25px;
  }

  h5{
	font-family: 'PT Sans', sans-serif;
	/*font-size: 25.4px;*/
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
  }

  h6{
	font-family: 'PT Sans', sans-serif;
	/*font-size: 21.1px;*/
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.25px;
  }

  button {
	font-family: 'PT Sans', sans-serif;
	/*font-size: 14.8px;*/
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.08;
	letter-spacing: 1.25px;
  }

  p{
	font-family: 'Open Sans', sans-serif;
	font-size: 15.8px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.77;
	letter-spacing: 0.5px;
  }
