/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.bodyLight {
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    font-weight: normal;
    color: #333;
    font-size: 14px;
    line-height: 1.45;
    letter-spacing: 0.66px;
}

.bodyDark {
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    font-weight: normal;
    color: #f2f2f2;
    font-size: 14px;
    line-height: 1.45;
    letter-spacing: 0.66px;
}

.overlineLight {
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    font-weight: normal;
    color: #333;
    font-size: 18.4px;
    line-height: 1.71;
    letter-spacing: 0.66px;
}

.overlineDark {
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    font-weight: normal;
    color: #f2f2f2;
    font-size: 18.4px;
    line-height: 1.71;
    letter-spacing: 0.66px;
}

.titleLight {
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    font-weight: bold;
    color: #000;
    font-size: 21px;
    line-height: 1.09;
    letter-spacing: 0.13px;
    margin-top: 2px;
}

.titleDark {
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    font-weight: bold;
    color: #fff;
    font-size: 21px;
    line-height: 1.09;
    letter-spacing: 0.13px;
    margin-top: 2px;
}

.linkLight {
    color: #000;
}

.linkDark {
    color: #fff;
}

#link-id-customCard {
    font-family: Roboto;
    font-size: 18.4px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.13px;
    cursor: pointer;
}

.blueBoxTitle {
    width: 3px;
    background-color: #2d9cdb;
    height: 40px;
    margin: 0 16px 0 0;
}

.box-title-startResource {
    width: 9px;
    height: 60px;
    margin: 0 16px 0 0;
    background-color: #2d9cdb;
    margin-right: 16px;
}

.cardroot {
    width: 360px;
    height: 240px;
    position: relative;
}

.cardroot:hover #box-link-id-customCard::before {
    visibility: visible;
    transform: scaleX(1);
    cursor: pointer;
}

#box-link-id-customCard::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: #2d9cdb;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}


@media screen and (max-width: 400px) {
    .bodyLight {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.4px;
    }

    .bodyDark {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.4px;
    }

    .overlineLight  {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.29px;
    }

    .overlineDark  {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.29px;
    }

    .titleLight {
        font-size: 14px;
        line-height: 0.99;
        letter-spacing: 0.06px;
    }

    .titleDark {
        font-size: 14px;
        line-height: 0.99;
        letter-spacing: 0.06px;
    }

    .blueBoxTitle {
        height: 20px;
        margin: 0 5px 0 0;
    }

    #link-id-customCard {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.07px;
    }

    .box-title-startResource {
        width: 3.3px;
        height: 22.3px;
        margin-right: 8px;
    }

}